<div style="display: flex; align-items: center;">
      <%= link_to "＜", :back, class: "back-button", style: "margin-right: 10px; font-size: 30px;" %>
    </div>

<%= render 'form', goods_review: @goods_review %>

