<div style="display: flex; align-items: center;">
      <%= link_to "＜", :back, class: "back-button", style: "margin-right: 10px; font-size: 30px;" %>
    </div><h2>グループ作成</h2>

<%= render 'form', group: @group %>



    <style>
        h2 {
            text-align: center;
            font-size: 35px;
        }
    </style>