<div style="display: flex; align-items: center;">
      <%= link_to "＜", :back, class: "back-button", style: "margin-right: 10px; font-size: 30px;" %>
    </div><h2>グループ作成</h2>

<%= render 'form', group: @group %>

<<<<<<< HEAD

=======
>>>>>>> 6ac4bc722f8d30af8c1b1bab44d45ff1ed0e1c16

    <style>
        h2 {
            text-align: center;
            font-size: 35px;
        }
    </style>