<p id="notice"><%= notice %></p>

<p>
  <strong>Chat</strong>
  <%= link_to 'チャット', messages_path(chat_id: @chat.id) %>
<br>
<br>
<br>
<br>

  <strong>Review</strong>
  <%= link_to 'レビュー', group_reviews_path%>
<br>
<br>
<br>
  <%= link_to 'Back', chats_path %>
</p>  





<%# (chat_id: @chat.id) %>
