<p id="notice"><%= notice %></p>

<p>
  <strong>Chat</strong>
  <%= link_to 'チャット', messages_path(chat_id: @chat.id) %>
</p>

<p>
  <strong>Review</strong>
  <%= link_to 'レビュー', goods_reviews_path%>
</p>  



<%= link_to 'Back', chats_path %>
