<div style="display: flex; align-items: center;">
      <%= link_to "＜", chats_path, class: "back-button", style: "margin-right: 10px; font-size: 30px;" %>
    </div>
<%= render 'form', store_review: @store_review %>

<%= link_to 'Back', store_reviews_path %>
